USE [FurnitureProduction]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactInfo] [nvarchar](255) NOT NULL,
	[CreatedDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IdPosition] [int] NOT NULL,
	[HiringDate] [date] NOT NULL,
	[ClientCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 29.10.2024 14:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[IdShipment] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ShipmentDate] [date] NOT NULL,
	[IdEmployee] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdShipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Стол')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Стул')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Шкаф')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [ContactInfo], [CreatedDate]) VALUES (1, N'Алексей Смирнов', N'alexey@mail.ru', CAST(N'2021-01-10' AS Date))
INSERT [dbo].[Customers] ([Id], [Name], [ContactInfo], [CreatedDate]) VALUES (2, N'Ирина Васильева', N'irina@mail.ru', CAST(N'2020-05-15' AS Date))
INSERT [dbo].[Customers] ([Id], [Name], [ContactInfo], [CreatedDate]) VALUES (3, N'Сергей Петров', N'sergey@mail.ru', CAST(N'2022-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [IdPosition], [HiringDate], [ClientCount]) VALUES (1, N'Иван Иванов', 1, CAST(N'2021-01-15' AS Date), 50)
INSERT [dbo].[Employees] ([Id], [Name], [IdPosition], [HiringDate], [ClientCount]) VALUES (2, N'Петр Петров', 2, CAST(N'2020-03-10' AS Date), 30)
INSERT [dbo].[Employees] ([Id], [Name], [IdPosition], [HiringDate], [ClientCount]) VALUES (3, N'Анна Смирнова', 3, CAST(N'2022-06-20' AS Date), 20)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [Name]) VALUES (1, N'Менеджер')
INSERT [dbo].[Position] ([Id], [Name]) VALUES (2, N'Продавец')
INSERT [dbo].[Position] ([Id], [Name]) VALUES (3, N'Кассир')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [IdCategory], [Price], [StockQuantity]) VALUES (1, N'Деревянный стол', 1, CAST(15000.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[Products] ([Id], [Name], [IdCategory], [Price], [StockQuantity]) VALUES (2, N'Пластиковый стул', 2, CAST(3000.00 AS Decimal(18, 2)), 25)
INSERT [dbo].[Products] ([Id], [Name], [IdCategory], [Price], [StockQuantity]) VALUES (3, N'Шкаф для одежды', 3, CAST(20000.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([IdShipment], [IdProduct], [IdCustomer], [Quantity], [ShipmentDate], [IdEmployee]) VALUES (1, 1, 1, 2, CAST(N'2022-06-21' AS Date), 1)
INSERT [dbo].[Shipments] ([IdShipment], [IdProduct], [IdCustomer], [Quantity], [ShipmentDate], [IdEmployee]) VALUES (2, 2, 2, 1, CAST(N'2020-05-20' AS Date), 2)
INSERT [dbo].[Shipments] ([IdShipment], [IdProduct], [IdCustomer], [Quantity], [ShipmentDate], [IdEmployee]) VALUES (3, 3, 3, 3, CAST(N'2022-06-21' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Position] FOREIGN KEY([IdPosition])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Position]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Customers] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Customers]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Employees] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Employees]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Products] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_Shipments_Products]
GO
